:root {
  --webstudio-color: #2196f3;
  --background: #2f303a;
  --title-nav-color: #212121;
  --text-contacts-color: #757575;
  --regular-customer-color: #afb1b8;
  --regular-customer-background-color: #fff;
  --social-links-color: #afb1b8;
  --social-links-background-color: #fff;
  --icon-footer-color: #fff;
  --icon-footer-background-color: #ffffff1a;
  --webstudio-font-family: Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-contacts-color);
  font-family: var(--webstudio-font-family);
}

ul {
  list-style-type: none;
}

a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container general */

.no-scroll {
  overflow: hidden;
}

/* .container {
  margin: 0 auto;
  max-width: 1600px;
} */

.container {
  margin: 0 auto;
  /* padding: 0 15px; */
  /* width: 100%; */
  width: 1600px;
}

/* @media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
} */

.section94px {
  margin: 0 auto;
  max-width: 1170px;
  padding: 94px 0 94px 0;
}

/* Header Section */

.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  position: relative;
  width: 1600px;
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
}

.header-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 93px;
}



.logo-title {
  margin: 0;
  padding: 0;
}

.logo span {
  color: var(--webstudio-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  
  text-decoration-line: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover span,
.logo:focus span {
  color: #000;
}

.active-page {
  display: inline-block;
  position: relative;
}

.active-page::after {
  background-color: var(--webstudio-color);
  border-radius: 2px;
  bottom: -32px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.active:hover,
.active:focus {
  color: var(--webstudio-color);
}



.navigation-links {
  display: flex;
  gap: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: var(--title-nav-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}

.contacts {
  padding: 0;
  display: flex;
  gap: 40px;
}

.contact {
  color: var(--text-contacts-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}

/* Hero Section*/

.hero {
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/desktop/Hero_img.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 1600px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))),
     url("../images/desktop/Hero_img@2x.jpg");
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url("../images/desktop/Hero_img@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url("../images/desktop/Hero_img@2x.jpg");
  }
}

.hero-text {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.request-our-service-button {
  background: var(--webstudio-color);
  border-color: var(--webstudio-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}

.request-our-service-button:hover,
.request-our-service-button:focus {
  background-color: #188ce8;
  color: #fff;
}

/* ATTENTION TO DETAILS advertising Section*/

.big-icons-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 94px 0 0 0;
}

.big-icon-area {
  align-items: center;
  background-color: #f5f4fa;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 270px;
}

.advertising {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  gap: 30px;
  justify-content: space-between;
}

.advertising-title {
  color: var(--title-nav-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
}

.advertising-text {
  font-size: 14px;
  height: 75px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  margin: 10px 0 0 0;
  text-align: left;
  width: 270px;
}

/* What we do Section */

.what-we-do-section {
  margin: 0 auto;
  max-width: 1170px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-nav-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin: 0;
  padding: 0 0 50px 0;
  text-align: center;
}

.what-we-do-photos {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.what-we-do-item {
  position: relative;
}

.overlay-text {
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  color: #fff;
  display: flex;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  font-weight: 700;
  height: 70px;
  justify-content: center;
  left: 0;
  letter-spacing: 0.42px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* Our Team Section*/

.our-team {
  background-color: #f5f4fa;
  max-width: 1600px;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
}

.photo-with-caption {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.name {
  color: var(--title-nav-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 30px 0 10px 0;
  text-align: center;
}

.job {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0 0 30px 0;
  text-align: center;
}

.icons-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 0 30px 0;
}

.icon {
  align-items: center;
  background-color: var(--social-links-background-color);
  border-radius: 22px;
  color: var(--social-links-color);
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  background-color: var(--webstudio-color);
  color: var(--social-links-background-color);
  outline: none;
}

/* Regular Customers */

.regular-customers-icons-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.regular-customers-icon-area {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: var(--regular-customer-color);
  display: flex;
  height: 92px;
  justify-content: center;
  width: 170px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon-area:hover,
.regular-customers-icon-area:focus {
  color: var(--webstudio-color);
  border-color: var(--webstudio-color);
}

/* Footer Section */

.footer {
  background-color: var(--background);
   width: 1600px;
}

.footer-text {
  align-items: baseline;
  display: flex;
  gap: 93px;
  padding: 60px 0 60px 0;
  margin: 0 auto;
  justify-content: center;
}

.logo-footer span {
  color: var(--webstudio-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer {
  color: #fff;
  font-family: var(--webstudio-font-family);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration-line: none;
}

.logo-footer:hover span,
.logo-footer:focus span {
  color: #fff;
}

.address {
  color: #fff;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding-bottom: 12px;
}

.contacts-footer {
  margin: 0;
  padding: 0;
}

.contact-footer {
  color: #ffffff99;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.8;
  text-decoration-line: none;
}

.find-us-on-text {
  color: #fff;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  padding-top: 15px;
  text-transform: uppercase;
}

.footer-icons-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 0;
}

.icon-footer {
  align-items: center;
  display: inline-block;
  justify-content: center;
}

.icon-footer {
  background-color: var(--icon-footer-background-color);
  border-radius: 22px;
  color: var(--icon-footer-color);
  display: flex;
  height: 44px;
  width: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--webstudio-color);
  outline: none;
}

/* Subscribe Section */

.subscribe-label {
  color: #fff;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.subscribe-input {
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  height: 50px;
  margin-right: 12px;
  margin-top: 20px;
  outline: none;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 358px;
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--webstudio-color);
}

.subscribe-btn {
  background-color: var(--webstudio-color);
  border-color: var(--webstudio-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font-family: var(--webstudio-font-family);
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.96px;
  line-height: 30px;
  padding: 0 0 0 43px;
  position: relative;
  text-align: left;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}

.subscribe-btn svg {
  position: absolute;
  right: 28px;
  top: 13px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  border-color: #188ce8;
}

/* Portfolio Page*/

.filter-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: var(--title-nav-color);
  cursor: pointer;
  font-family: var(--webstudio-font-family);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 1.625;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--webstudio-color);
  color: #fff;
  outline: none;
}

.filter-button-set {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

.filter-button {
  padding: 6px 22px;
}

/* Photo Section */

.title-portfolio {
  color: var(--title-nav-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}

.subject-portfolio {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.875;
  margin: 0 0 20px 24px;
}

.photo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin-left: -30px;
}

.box-overlay {
  overflow: hidden;
  position: relative;
}

.box-overlay:hover .overlay {
  transform: translateY(0);
}

.overlay {
  background-color: var(--webstudio-color);
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.overlay p {
  color: #fff;
  font-family: var(--webstudio-font-family);
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 1.56;
  padding: 63px 24px 91px 24px;
}

.portfolio-card {
  background: #fff;
  border: 1px solid #eee;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* Modal window section */

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 581px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  transform: scale(1.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  color: #000;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  color: var(--webstudio-color);
}

/* Request our Service Form Section */

.request_our_service_form {
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0 auto;
}

.intro-text {
  color: #212121;
  font-family: var(--webstudio-font-family);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  text-align: center;
}

.label {
  margin: 0;
}

.input-area {
  margin-bottom: 10px;
  position: relative;
}

.person-icon,
.phone-icon,
.envelope-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.input-box:hover,
.input-box:focus,
.comments-box:hover,
.comments-box:focus {
  border-color: var(--webstudio-color);
  outline: none;
}

.input-box:focus + .input-icon,
.input-box:hover + .input-icon {
  fill: var(--webstudio-color);
}

.input-box {
  height: 40px;
  padding-left: 42px;
}

.comments-box {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.input-box,
.comments-box {
  border-radius: 4px;
  border: 1px solid #21212133;
  font-size: 14px;
  letter-spacing: 0.14px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.label {
  color: #757575;
  cursor: pointer;
  font-family: var(--webstudio-font-family);
  font-size: 12px;
  letter-spacing: 0.12px;
}

.input-area,
.comments-area {
  width: 100%;
}

.checkbox-area {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  pointer-events: none;
}

.icon-check {
  border-radius: 2px;
  border: 2px solid #212121;
  fill: none;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .icon-check {
  outline: 1px solid #212121;
}

.checkbox:checked + .icon-check {
  background-color: var(--webstudio-color);
  border-color: var(--webstudio-color);
  outline: none;
}

.agree-text {
  color: #757575;
  font-family: var(--webstudio-font-family);
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 1.71;
}

.terms-link {
  color: var(--webstudio-color);
}

.send-button {
  align-items: center;
  background-color: var(--webstudio-color);
  border-color: var(--webstudio-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font-family: var(--webstudio-font-family);
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.96px;
  line-height: 1.875;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
}

.send-button:hover,
.send-button:focus {
  background-color: #188ce8;
}



/* Tablet Design */

@media screen and (min-width: 768px) {

}




/* Desktop Design */

@media screen and (min-width: 1158px) {
 
}